<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="{% url 'gist:dashboard' %}" class="nav-link">
                <i class="fas fa-tachometer-alt mr-2"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-users mr-2"></i>
                <p>Members</p>
            </a>
        </li>
    </ul>
</nav>